<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Documents</title>

  <link rel="stylesheet" href="/css/github.css">
</head>
<body>
</div>
  <a href="/">Top</a>
  <%= yield %>
</div>
</body>
</html>
