<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Documents</title>
</head>
<body>
  <div>
    <% @filenames.each do |filename| %>
      <div>
        <a href="/<%= filename %>"><%= filename %></a>
      </div>
      <% end %>
  </div>
<div>
  <%= yield %>
</div>
</body>
</html>
